
.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.count {
    margin: 0;
    min-width: 20px;
    text-align: center;
}

button {
    margin:10px;

}

.button-container button {
    margin: 0 5px;
}


.resetter {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.resetter:hover,
.resetter:active {
    background-color: lightgrey;
    background-position: 0 0;
    color: #FF4742;
}

.resetter:active {
    background-color: darkgrey;
    scale: 1.05;
    border-width: 4px ;
    border-style:  double;
}
