html {
    text-align: center;
}

body {
    background-color: #0C7A26;
}
main {
    display: flex;
    justify-content: center;
}

.fruitlist {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    align-items: stretch;
    gap: 0.5em;


}

.counters {
    display: flex;
    align-items: center;
    padding: 0 10px;
    scale: 1.5;
}

.fruittype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A1E2ABFF;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0 85px;

}


button {
    margin:10px;

}

.button-container button {
    margin: 0 5px;
}

.resetter {
background: #FF4742;
border: 1px solid #FF4742;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
font-size: 16px;
font-weight: 800;
line-height: 16px;
min-height: 40px;
outline: 0;
padding: 12px 14px;
text-align: center;
text-rendering: geometricprecision;
text-transform: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
}

.resetter:hover,
.resetter:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.resetter:active {
    opacity: .5;
}
